body {
    margin: 0 100px;
    font-family: sans-serif;
}

p.options label {
    margin-right: 10px;
}

p.options input[type=checkbox] {
    vertical-align: middle;
}

textarea#configuration {
    width: 100%;
    height: 200px;
}

.step {
    display: none;
}

#step1 {
    display: block;
}

pre#json-renderer {
    border: 1px solid #aaa;
}

#configuration {
    width: 100%;
    height: 300px;
}